<h1>Character profile</h1>

<div>
    <p>
        <b>Name:</b> <%= @character_view.display_name || "No info" %>
    </p>

    <p>
        <b>Age:</b> <%= @character_view.display_age || "No info" %> 
    </p>

    <p>
        <b>Gender:</b> <%= @character_view.display_gender || "No info" %>
    </p>
</div>

