  <% if @character.errors.any? %>
    <div>
      <ul>
        <% @character.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<td><%= button_to 'Walk to the grass', {:controller => "map", :action => "walk", :character_id => Character.first} , :method=>:post  %></td>